[Unit]
Description=DNS Forwarder
Documentation=https://github.com/holmium/dnsforwarder/wiki
After=network.target ss-redir.service

[Service]
Type=simple
LimitNOFILE=32768
ExecStart=/usr/local/opt/dnsforwarder/bin/dnsforwarder -q -f /etc/dnsforwarder/config
ExecStartPost=/usr/local/bin/dns-resolve start
ExecStopPost=/usr/local/bin/dns-resolve stop

[Install]
WantedBy=multi-user.target

